.Swimlane-title {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}

.Swimlane-dragColumn {
  height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: #f5f5f5;
  padding: 16px 8px;
}


/* Swimlane.css */

.Swimlane-column {
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Swimlane-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Swimlane-dragColumn {
  min-height: 100px;
  padding: 5px;
}
